# Agenda

1. Dictionary
2. Set
3. Combinations of data structures
4. Files
5. Functions

# Dictionary

`dict` is also known as:

- Hash table
- Hash
- Hashmap
- Map
- Key-value store
- Name-value store
- Associative array

We can define the "key" and the value. Some rules:

- Key can be any *immutable* value.
- Keys are unique within any given dict
- Values can be anything at all

## Syntax

- We use `{}` to define a dict
- We separate a key and value with `:`
- We separate pairs with `,`

In [1]:
d = {'a':10, 'b':20, 'c':30}
type(d)

dict

In [2]:
len(d)

3

In [3]:
# we use `[]` to retrieve values via the key

d['a']

10

In [4]:
d['x']

KeyError: 'x'

In [5]:
# to find if a key is in the dict, we use "in"

'a' in d

True

In [6]:
10 in d

False

In [7]:
'A' in d

False

In [8]:
' a' in d

False

In [9]:
d.keys()

dict_keys(['a', 'b', 'c'])

# Exercise: Restaurant

1. Define a dict, `menu`, with strings (menu items) as keys and ints (prices) as values.
2. Define `total` to be 0.
3. Ask the user repeatedly to order something
    - If they enter an empty string, stop asking
    - If they enter something in the menu, print the price + the updated total.
    - If they enter something *not* on the menu, then scold them
4. Give the total

Example:

    Order: sandwich
    sandwich is 20, total is 20
    Order: tea
    tea is 10, total is 30
    Order: elephant
    We're out of elephant today!
    Order: [ENTER]
    Total is 30

In [10]:
menu = {'sandwich': 20, 'tea':10, 'cake':12, 'apple':4}
total = 0

while True:
    order = input('Order: ').strip()

    if not order:
        break

    if order in menu:
        price = menu[order]
        total += price
        print(f'{order} costs {price}, total is now {total}')
    else:
        print(f'Sorry, we are out of {order} today!')

print(f'{total=}')

Order:  sandwich

sandwich costs 20, total is now 20

Order:  tea

tea costs 10, total is now 30

Order:  asdfafadfa

Sorry, we are out of asdfafadfa today!

Order:

total=30

# Dictionaries are mutable!

1. We can change the values
2. We can add new pairs
3. We can remove pairs

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
d['b'] = 999
d

{'a': 10, 'b': 999, 'c': 30}

In [13]:
# add a new pair
d['x'] = 876

In [14]:
d

{'a': 10, 'b': 999, 'c': 30, 'x': 876}

In [15]:
mylist = [10, 20, 30, 40]

d[mylist] = 123

TypeError: cannot use 'list' as a dict key (unhashable type: 'list')

In [16]:
# remove a pair from the dict with dict.pop
# removes the pair, and returns the value

d.pop('x')

876

In [17]:
d

{'a': 10, 'b': 999, 'c': 30}

In [18]:
d.pop('x')

KeyError: 'x'

# 3 paradigms for dicts

1. Read-only dict defined at start of program
2. Define keys and default values at the start, modify values but don't add/remove keys
3. Start with an empty dict, add keys/values as needed

In [19]:
counts = {'vowels':0,
         'digits':0,
         'others':0}

text = input('Enter text: ').strip()

for one_character in text:
    if one_character in 'aeiou':
        counts['vowels'] += 1
    elif one_character.isdigit():
        counts['digits'] += 1
    else:
        counts['others'] += 1

print(counts)

Enter text:  this is a test!!! 123

{'vowels': 4, 'digits': 3, 'others': 14}

In [20]:
# iterating on a dict

for one_item in counts:
    print(one_item)

vowels
digits
others

In [21]:
for one_key in counts:
    print(f'{one_key}: {counts[one_key]}')

vowels: 4
digits: 3
others: 14

In [22]:
# dict.items -- returns a (key, value) tuple with each iteration

for one_item in counts.items():
    print(one_item)

('vowels', 4)
('digits', 3)
('others', 14)

In [23]:
# tuple unpacking!

for key, value in counts.items():
    print(f'{key}: {value}')

vowels: 4
digits: 3
others: 14

In [24]:
counts.values()

dict_values([4, 3, 14])

# Exercise: Odds and evens

1. Define a dict with two keys, `odds` and `evens`. The values will be empty lists, `[]`.
2. Ask the user to enter a string. The string should contain numbers separated by spaces.
3. If the user gives an empty string, exit.
4. Go through each "word" in the string that the user gave:
    - If we cannot turn it into a number, scold the user
    - If we can turn it into a number, we do so -- and add to the list of either odds or evens
5. Go back to step 2, and ask the user again for a string of numbers.
6. Print all odd numbers and all even numbers.

Example:

    Enter numbers: 10 15 hello 12
    10 is even
    15 is odd
    hello is not a number; ignoring
    12 is even
    Enter numbers: 25 72 goodbye
    25 is odd
    72 is even
    goodbye is not a number; ignoring
    Enter numbers: [ENTER]
    odds: 15 25
    evens: 10 12 72